<div class="p-2">
  <!-- Réduit le padding global -->
  <div class="w-full p-5 rounded-lg mt-6">
    <div class="flex justify-between items-center mb-3">
      <h1 class="text-lg font-semibold text-gray-800">
        Abonnement effectué le :
        <span class="text-blue-600">{{ abonnement.dateAbn }}</span>
      </h1>
    </div>
    <div class="flex justify-between items-center">
      <h4 class="text-sm text-gray-600">
        Nombre de jours restants :
        <span class="font-semibold text-green-600">{{
          abonnement.nbrJrs
        }}</span>
      </h4>
    </div>
  </div>

  <div>
    <p>
      <mat-button-toggle-group
        name="fontStyle"
        aria-label="Font Style"
        [(value)]="selectedValue"
      >
        <mat-button-toggle
          
          value="attente"
          [class.attente-selected]="{
            'attente-selected': selectedValue === 'attente'
          }"
        >
          <span
            ><var
              >@if (this.isAreadyChecked) { Abonnement déjà validé }@else { En
              attente de validation, veuillez valider ou invalider l'abonnement
              }
            </var></span
          >:
        </mat-button-toggle>

        <mat-button-toggle
          di
          value="valid"
          [class.valid-selected]="{
            'valid-selected': selectedValue === 'valid'
          }"
        >
          Valider
        </mat-button-toggle>

        <mat-button-toggle
          di
          value="invalid"
          [class.invalid-selected]="{
            'invalid-selected': selectedValue === 'invalid'
          }"
        >
          Invalider
        </mat-button-toggle>
      </mat-button-toggle-group>
    </p>
  </div>

  <!-- Flex container modifié pour réduire l'espace -->
  <div
    class="relative flex flex-col items-center max-w-screen-xl px-2 mx-auto md:flex-row sm:px-4 p-4"
  >
    <div class="flex items-center py-3 md:w-2/3 md:pb-4 md:pt-2 md:pr-1">
      <div class="w-full">
        <div class="flex flex-row items-center justify-between w-full">
          <div class="bg-gray-50 p-4 rounded-lg shadow-md mt-6">
            <h2 class="text-xl sm:text-2xl font-semibold text-gray-800 mb-2">
              Période de l'abonnement
            </h2>
            <p class="text-lg text-gray-600">
              Du
              <span class="font-semibold text-gray-900">{{
                abonnement.dateDebut
              }}</span>
              <span class="mx-2">au</span>
              <span class="font-semibold text-gray-900">{{
                abonnement.dateFin
              }}</span>
            </p>
          </div>

          <div class="bg-gray-100 p-6 rounded-lg shadow-lg mt-6">
            <h2 class="text-2xl font-semibold text-gray-800 mb-4">
              Description de l'abonnement
            </h2>
            <p
              class="text-base sm:text-lg md:text-xl text-gray-700 leading-relaxed"
            >
              {{ abonnement.description }}
            </p>
          </div>
        </div>

        <div class="mt-4 sm:flex md:mt-6">
          <button class="rounded-md shadow" (click)="getInvoice()">
            <span
              class="disabled cursor-pointer flex items-center justify-center w-full px-6 py-2 text-base font-medium text-white transition duration-150 ease-in-out bg-blue-500 rounded-md hover:bg-blue-600"
            >
              Voir la facture
            </span>
          </button>
        </div>
      </div>
    </div>

    <div
      class="flex justify-end items-start py-3  md:w-1/3 md:pb-4  pl-auto md:pt-1 md:pl-2 "
    >
      <div class="relative w-full p-2 rounded md:p-2   ">
        <div class="rounded-lg text-black w-full cursor-pointer pl-28">
          <div
            class="w-32 border border-indigo-300 hover:shadow-xl flex flex-row justify-end items-end"
            (click)="openModal(imageUrl)"
          >
            <img
              height="100%"
              width="100%"
              [src]="imageUrl"
              class="shadow rounded-lg overflow-hidden border w-full object-cover"
            />
          </div>
        </div>
      </div>
      @if (isModalOpen) {
      <div
        class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
      >
        <div class="relative">
          <img
            [src]="imageUrl"
            class="w-120 h-auto rounded-lg shadow-xl object-contain"
            (click)="closeModal()"
          />
          <button
            class="absolute top-0 right-0 bg-red-600 text-white rounded-full p-2"
            (click)="closeModal()"
          >
            X
          </button>
        </div>
      </div>
      }
    </div>
  </div>

  <!-- Table container réduit avec moins de padding -->
  <div class="container p-2 mx-auto sm:p-4 dark:text-gray-800">
    <h2 class="mb-3 text-xl font-semibold">Panneaux</h2>
    <div class="overflow-x-auto">
      <table class="min-w-full text-xs">
        <colgroup>
          <col />
          <col />
          <col />
          <col />
          <col />
          <col class="w-24" />
        </colgroup>
        <thead class="dark:bg-gray-300">
          <tr class="text-left">
            <th class="p-2">Panneau</th>
            <th class="p-2">Boulevard</th>
            <th class="p-2">Localisation</th>
            <th class="p-2">Type</th>
            <th class="p-2">Taille</th>
            <th class="p-2">Face</th>
            <th class="p-2">Prix/Ms</th>
            <th class="p-2 text-right">Prix Impression</th>
          </tr>
        </thead>
        <tbody>
          @for (panneau of lignAbn; track $index) {
          <tr
            class="border-b border-opacity-20 dark:border-gray-300 dark:bg-gray-50"
          >
            <td class="p-2">
              <p>{{ panneau.panneauId }}</p>
            </td>
            <td class="p-2">
              <p>{{ panneau.boulevardName }}</p>
            </td>
            <td class="p-2">
              <p>{{ panneau.emplacement }}</p>
            </td>
            <td class="p-2">
              <p>{{ panneau.type }}</p>
            </td>
            <td class="p-2 text-right">
              <p>{{ panneau.taille }}</p>
            </td>
            <td class="p-2 text-right">
              <span
                class="px-2 py-1 font-semibold rounded-md dark:bg-violet-600 dark:text-gray-50"
              >
                <span>{{ panneau.nbrFace }}</span>
              </span>
            </td>
            <td class="p-2 text-right">
              <span
                class="px-2 py-1 font-semibold rounded-md dark:bg-violet-600 dark:text-gray-50"
              >
                <span>{{ panneau.price }}</span>
              </span>
            </td>
            <td class="p-2 text-right">
              <span
                class="px-2 py-1 font-semibold rounded-md dark:bg-violet-600 dark:text-gray-50"
              >
                <span>{{ panneau.printPrice }}</span>
              </span>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
  di
