<!-- /*
 *****************************************************************
 * Composent Voir plus de détail sur un client                   *
 *****************************************************************
 */ -->

<div class="bg-gray-100">
  <div class="container mx-auto py-8 ">
    <div class="grid grid-cols-4 sm:grid-cols-12 gap-6 px-4">
      <div class="col-span-4 sm:col-span-3 ">
        <div class="bg-white shadow rounded-lg p-6">
          <div class="flex flex-col items-center">
            <div class="w-32 h-32 bg-gray-300 rounded-full mb-4 shrink-0">
              <span
                class=""
                >{{ this.username }}
              </span>
            </div>

            <!-- <div
              class="flex flex-wrap items-center cursor-pointer border border-gray-500 rounded-full px-2 py-1"
            >
              <span
                class="p-2 flex justify-center items-center w-11 h-11 rounded-full border-white bg-blue-500 font-bold text-2xl text-white"
                >{{ this.username }}
              </span>
              <div class="ml-4">
                <p class="text-sm text-white">
                  {{ user.nonUtilisateur.toUpperCase }}
                </p>
              </div>
            </div> -->
            <h1 class="text-xl font-bold">{{ user.nonUtilisateur }}</h1>
            <p class="text-gray-700">
              <span
                [className]="user.enabled ? 'text-green-400' : 'text-red-500'"
              >
                @if (user.enabled) { Etat : Vérifié}@else {Etat : Non
                Vérifié}</span
              >
            </p>
            <div class="mt-6 flex flex-wrap gap-4 justify-center">
              <a href="#" class="text-gray-600 font-bold py-2 px-4"
                >Email : {{ this.user.email }}</a
              >
              <a href="#" class="text-gray-600 font-bold py-2 px-4"
                >Téléphone: {{ this.user.numero }}</a
              >
            </div>
          </div>
          <hr class="my-6 border-t border-gray-300" />
          <div class="flex flex-row justify-between items-center">
            <button
            (click)="setClientFidele()"
             class="inline-block px-5 scroll-px-5 py-1.5 overflow-hidden text-sm font-semibold transition-transform rounded-full group text text-green-700/70 bg-green-300/30 hover:bg-green-500/70 hover:text-white">
              <span before="Fidélisé" class="relative py-1.5 transition-transform inline-block before:content-[attr(before)] before:py-1.5 before:absolute before:top-full group-hover:-translate-y-full">Fidélisé</span>
            </button>
            <button class="inline-block px-5 py-1.5 overflow-hidden text-sm font-semibold transition-transform rounded-full group text text-green-700/70 bg-green-300/30 hover:bg-green-500/70 hover:text-white">
              <span before="Bloqué" class="relative py-1.5 transition-transform inline-block before:content-[attr(before)] before:py-1.5 before:absolute before:top-full group-hover:-translate-y-full">Bloqué</span>
            </button>
          </div>
        </div>
      </div>
      <div class="flex flex-col col-span-4 sm:col-span-9">
        <div class=" ">
          <div class="bg-white shadow rounded-lg p-6">
            <h2 class="text-xl font-bold mb-4">A propos de l' entrprise</h2>
            <p class="text-gray-700">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus
              est vitae tortor ullamcorper, ut vestibulum velit convallis. Aenean
              posuere risus non velit egestas
            </p>
            <h2 class="text-xl font-bold mt-6 mb-4 text-center">
              Historique de l' entrprise
            </h2>
          </div>
        </div>
        <mat-tab-group>
          <mat-tab label="Abonnement"> Abonnement</mat-tab>
          <mat-tab label="Transaction">
            <table class="min-w-full divide-y divide-gray-200">
              <thead>
                  <tr>
                      <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
                      <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Email</th>
                      <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Role</th>
                      <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Status</th>
                      <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Action</th>
                  </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
                  <tr>
                      <td class="px-6 py-4 whitespace-nowrap">Jane Doe</td>
                      <td class="px-6 py-4 whitespace-nowrap">janexample.com</td>
                      <td class="px-6 py-4 whitespace-nowrap">Admin</td>
                      <td class="px-6 py-4 whitespace-nowrap">
                          <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">Active</span>
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap">
                          <button class="px-4 py-2 font-medium text-white bg-blue-600 rounded-md hover:bg-blue-500 focus:outline-none focus:shadow-outline-blue active:bg-blue-600 transition duration-150 ease-in-out">Edit</button>
                          <button class="ml-2 px-4 py-2 font-medium text-white bg-red-600 rounded-md hover:bg-red-500 focus:outline-none focus:shadow-outline-red active:bg-red-600 transition duration-150 ease-in-out">Delete</button>
                      </td>
                  </tr>
                  <tr>
                      <td class="px-6 py-4 whitespace-nowrap">John Doe</td>
                      <td class="px-6 py-4 whitespace-nowrap">johnexample.com</td>
                      <td class="px-6 py-4 whitespace-nowrap">User</td>
                      <td class="px-6 py-4 whitespace-nowrap">
                          <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800">Inactive</span>
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap">
                          <button class="px-4 py-2 font-medium text-white bg-blue-600 rounded-md hover:bg-blue-500 focus:outline-none focus:shadow-outline-blue active:bg-blue-600 transition duration-150 ease-in-out">Edit</button>
                          <button class="ml-2 px-4 py-2 font-medium text-white bg-red-600 rounded-md hover:bg-red-500 focus:outline-none focus:shadow-outline-red active:bg-red-600 transition duration-150 ease-in-out">Delete</button>
                      </td>
                  </tr>
              </tbody>
          </table>
          </mat-tab>

        </mat-tab-group>
      </div>

    </div>
  </div>
</div>
