<div class="relative flex min-h-screen flex-wrap items-center justify-around  overflow-hidden bg-gray-50 py-6 sm:py-12">

  <app-abonnement-card></app-abonnement-card>
  <app-abonnement-card></app-abonnement-card>
  <app-abonnement-card></app-abonnement-card>
  <app-abonnement-card></app-abonnement-card>
  <app-abonnement-card></app-abonnement-card>
  <app-abonnement-card></app-abonnement-card>
  <app-abonnement-card></app-abonnement-card>
  <app-abonnement-card></app-abonnement-card>



<!-- https://play.tailwindcss.com/eCfibrSI2X -->
