<div
  class="relative flex top-5 flex-wrap items-center justify-around overflow-hidden py-6 sm:py-2"
>
  <div class="min-w-full flex flex-row items-center justify-around ">
    <div class="flex justify-center items-center mt-4">
      <h4>Filtrer par date d'abonnment</h4>
    </div>

    <div class="flex flex-row justify-around items-center">
      <div class="mr-3">
        <mat-form-field>
          <mat-label> Du : </mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="startDate" />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="ml-3">
        <mat-form-field>
          <mat-label> Au : </mat-label>
          <input matInput [matDatepicker]="picker1" [(ngModel)]="endDate" />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker1"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker1 (click)="dateClicked()"></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <!-- <form
      class="mx-auto max-w-xl py-2 px-6 rounded-full bg-gray-50 border flex focus-within:border-gray-300"
    >
      <input
        type="text"
        placeholder="Date début"
        class="bg-transparent w-full focus:outline-none pr-4 font-semibold border-0 focus:ring-0 px-0 py-0"
        name="topic"
      />
    </form>
    <form

      class=" mx-auto max-w-xl py-2 px-6 rounded-full bg-gray-50 border flex focus-within:border-gray-300"
    >
      <input
        type="text"
        placeholder="Date fin"
        class="bg-transparent w-full focus:outline-none pr-4 font-semibold border-0 focus:ring-0 px-0 py-0"
        name="topic"
      />
    </form> -->
    <button
        class=" flex flex-row  items-center justify-center min-w-[10px] px-4 rounded-full  border disabled:cursor-not-allowed disabled:opacity-50 transition ease-in-out duration-150 text-base bg-gray-800 text-white font-medium tracking-wide border-transparent py-2 h-[38px]"
      >
        Rechercher
      </button>
  </div>
  @for (abonnement of lesAbonnements.content; track $index) {
  <app-abonnement-card (click)="voirPlus(abonnement.id)" class="cursor-pointer"  [abonnement]="abonnement"></app-abonnement-card>
  }
  <!-- https://play.tailwindcss.com/eCfibrSI2X -->
</div>
<div class="container mx-auto px-4 mt-4">
  <nav
    class="flex flex-row flex-nowrap justify-between md:justify-center items-center"
    aria-label="Pagination"
  >
    <!-- Previous Page Button -->
    <a
      class="cursor-pointer flex w-10 h-10 mr-1 justify-center items-center rounded-full border border-gray-200 bg-white dark:bg-gray-800 text-black dark:text-white hover:border-gray-300 dark:hover:border-gray-600"

      title="Previous Page"
    >
      <span class="sr-only">Previous Page</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="block w-5 h-5"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 19.5L8.25 12l7.5-7.5"
        />
      </svg>
    </a>
    <!-- Page Buttons (1 to 5) -->
    <a
      class="hidden md:flex w-10 h-10 mx-1 justify-center items-center rounded-full border border-gray-200 bg-white dark:bg-gray-700 text-black dark:text-white hover:border-gray-300 dark:hover:border-gray-600"

      title="Page 1"
      aria-current="page"
    >
      1
    </a>

    <!-- Next Page Button -->
    <a
      class="cursor-pointer flex w-10 h-10 ml-1 justify-center items-center rounded-full border border-gray-200 bg-white dark:bg-gray-800 text-black dark:text-white hover:border-gray-300 dark:hover:border-gray-600"

      title="Next Page"
    >
      <span class="sr-only">Next Page</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="block w-5 h-5"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M8.25 4.5l7.5 7.5-7.5 7.5"
        />
      </svg>
    </a>
  </nav>
</div>
