<div
  *ngIf="abonnement"
  (click)="onClickAbonnement(abonnement)"
  class="w-96 group h-auto bg-slate-50 m-5 relative overflow-hidden px-6 pt-10 shadow-xl ring-1 ring-gray-900/5 transition-all duration-300 hover:-translate-y-1 hover:shadow-2xl sm:mx-auto sm:max-w-sm sm:rounded-lg sm:px-10"
>
  <div class="flex flex-row items-center justify-between">
    <span
      class="relative -top-8 right-4 p-2.5 border-none rounded-full bg-green-100 text-xs text-green-800 font-medium"
      class="{{
        statutAbonnement === 'Expiré'
          ? 'bg-red-100'
          : statutAbonnement === 'À venir'
          ? 'bg-orange-100'
          : ''
      }}"
      >{{ statutAbonnement }}</span
    >

    <span
      class="relative -top-8 right-4 p-2.5 border-none rounded-full bg-green-100 text-xs text-green-800 font-medium"
      class="{{
        this.validiteAbonnement === 'Valide'
          ? 'bg-red-100'
          : this.validiteAbonnement === 'Invalide'
          ? 'bg-red-500 text-white'
          : ''
      }}"
      >{{ validiteAbonnement }}</span
    >
  </div>

  <div class="relative z-10 mx-auto max-w-md ">
    <h1 class="text-center font-bold">Fait le : {{ abonnement.dateAbn }}</h1>

    <div class="w-full flex flex-col justify-center items-center">
      <span
        class="w-full mb-3 grid h-20 place-items-center transition-all duration-300"
      >
        @for (image of _image; track $index) {
        <div
          class="w-40 border border-indigo-300 hover:shadow-xl flex flex-col items-center"
          [ngClass]="{
            'opacity-100': currentIndex === $index,
            'opacity-0': currentIndex !== $index
          }"
        >
          <img
            height="100%"
            width="100%"
            [src]="'data:image/jpg;base64,' + image.picture"
            class="shadow rounded-lg overflow-hidden border w-full object-cover"
          />
        </div>
        }
        <button
          (click)="prevSlide()"
          class="absolute left-0 top-1/3 transform -translate-y-1/2 text-black p-2 rounded-r-lg hover:bg-opacity-75 transition-all"
        >
          &#10094;
          <!-- Flèche gauche -->
        </button>
        <button
          (click)="nextSlide()"
          class="absolute right-0 top-1/3 transform -translate-y-1/2 text-black p-2 rounded-l-lg hover:bg-opacity-75 transition-all"
        >
          &#10095;
          <!-- Flèche droite -->
        </button>
      </span>
      <div class="w-3/4 flex flex-col items-end justify-center mt-5">
        <span class="float-left w-full pl-5 mb-2"
          >Date début : {{ abonnement.dateDebut }}</span
        >
        <span class="w-full items-end pl-5"
          >Date Fin : {{ abonnement.dateFin }}</span
        >
      </div>
    </div>

    <div
      class="space-y-6 pt-5 text-base leading-7 text-gray-600 transition-all duration-300 group-hover:text-gray-400/90"
    >
      <span
        class="relative -top-5 right-4 p-2.5 border-none rounded-full bg-green-100 text-xs text-green-800 font-medium"
      >
        {{
          this.abonnement.alreadyCheck
            ? "Déjà validé"
            : "En attent de validation"
        }}
      </span>
    </div>
    <div class="pt-5 text-base font-semibold leading-7">
      <p>
        <a
          href="#"
          class="text-sky-500 hover:text-sky-500 hover:font-bold transition-all duration-300 group-hover:text-black"
          >Voir plus &rarr;
        </a>
      </p>
    </div>
  </div>
  <!-- <div
  *ngIf="abonnement.actif"
  class="absolute inset-0 bg-green-200 bg-opacity-20"
></div> -->
</div>
